<div class="drop-down-container">
  <div class="images">
    <div class="drop-down-cell-container">
      {{ images }}
    </div>
  </div>
  <div class="description" role="main-description">
    <div class="drop-down-cell-container restyled_lang_dropdown">
      {{ title }}
      {{ audioplayer }}
      <div class="full">
        <div class="full-text" data-role="dropDownDescription">
          {{ description }}
        </div>
        <div class="shadow top">
          <div class="left"></div>
          <div class="right"></div>
          <div class="center"></div>
        </div>
        <div class="shadow bottom">
          <div class="left"></div>
          <div class="right"></div>
          <div class="center"></div>
        </div>
      </div>
      <div class="social">
        {{ drupal_block('addtoany_block') }}
      </div>
    </div>
  </div>
  <div class="close"></div>
</div>
<div class="prev-ex"></div>
<div class="next-ex"></div>
