<div class="strip">
  <div class="contained">
    <h2 class="promo__title strip__title">{{ 'Create your own audio tours!'|t }}</h2>
    <div class="izi-block-create">
      <p class="promo__subtitle strip__subtitle">{{ 'Use of the system and the mobile guide app is free'|t }}</p>
      <p class="promo__buttons">{{ link }}</p>
      <div class="promo__image__wrapper">
        <img class="promo__image" src="{{ image_src }}" alt="{{ 'App preview on iOS, Android and Windows Phone'|t }}"/>
      </div>
    </div>
  </div>
</div>
